In [64]:
# importing the necessry libaries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd 
# Reading the datsaset file
data=pd.read_csv('C:\\Users\\hewlett\\Desktop\\book1.csv')
data.head()
#data.shape
#new_data = data.dropna(axis = 0, how ='any')
#modifiedDataset.head()

   PT08.S1(CO)  PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  CO(GT)
0       1360.0         1046.0    166.0        1056.0     2.6
1       1292.0          955.0    103.0        1174.0     2.0
2       1402.0          939.0    131.0        1140.0     2.2
3       1376.0          948.0    172.0        1092.0     2.2
4       1272.0          836.0    131.0        1205.0     1.6

In [46]:
# Picking the X and Y variables
x = data['PT08.S3(NOx)']
y = data['CO(GT)']

x = (x - x.mean()) / x.std()
x = np.c_[np.ones(x.shape[0]), x]

In [54]:
# taking the step size
alpha = 0.05

# No of iterations
iterations = 100 

m = y.size #No. of data points

# to generate the random numbers
np.random.seed(123) 

# To pick random values
theta = np.random.rand(2)

In [48]:
def gradient_descent(x, y, theta, iterations, alpha):
    past_costs = []
    past_thetas = [theta]
    for i in range(iterations):
        prediction = np.dot(x, theta)
        error = prediction - y
        cost = 1/(2*m) * np.dot(error.T, error)
        past_costs.append(cost)
        theta = theta - (alpha * (1/m) * np.dot(x.T, error))
        past_thetas.append(theta)
        
    return past_thetas, past_costs

In [55]:
#Pass the relevant variables to the function and get the new values back
past_thetas, past_costs = gradient_descent(x, y, theta, iterations, alpha)
theta = past_thetas[-1]

In [63]:
print("Gradient Descent: {:.2f}, {:.2f}".format(theta[0], theta[1]))

Gradient Descent: nan, nan